* {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --soldier-color: #c85b9e99;
    --playersShitrs-color: #183644a8;
}

::-webkit-scrollbar {
    background-color: #cbcbcb
}

::-webkit-scrollbar-thumb {
    background-color: var(--soldier-color);
    border-radius: 10px;
}

::-webkit-scrollbar-button {
    background-color: var(--playersShitrs-color);
    color: black;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #818674 50%, #92937e 100%)
}

#image_banner {
    width: 100%;
    /* mask-image: linear-gradient(#000 10%, #0000 90%); */
}

#titleText-div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 195px;
    z-index: 100;
}

#titleText-div h1 {
    color: #ffffff;
}

#introduction_section {
    margin: 15px;



}



#introduction_section h2 {
    animation: logoAnimate 10s cubic-bezier(0.46, 0.84, 0.99, 1.03) infinite;
}

@keyframes logoAnimate {

    0%,
    40%,
    70%,
    100% {
        clip-path: inset(0 0 0 0);
    }

    55% {
        clip-path: inset(0 0 0 100%);
    }

    56% {
        clip-path: inset(0 100% 0 0);
    }
}

#introduction_section button {
    border: 2px solid #1b3e84;
    background-color: #98b8e2;
    color: #1b3e84;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    transition: 0.1s;
}

#introduction_section button:hover {
    background-color: #699bdc;

}

#startNow_card {
    z-index: 110;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 25px;
    background: var(--playersShitrs-color);
    color: #e1e1e1;
    backdrop-filter: blur(10px);
    padding: 10px;
}

#introductionBot_card {
    background-color: #cbcbcb;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15px;
    padding: 10px 15px 10px 10px;
    border-radius: 76px;

}

#introductionBot_card img {
    width: 70px;
    border-radius: 50%;
}

#introductionBotCard_texts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#introductionAbitltyBot_card {
    width: 45%;
    background-color: var(--soldier-color);
    padding: 10px;
    border-radius: 10px;
}

#introductions {
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 0 0;

}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
}

@media (max-width: 510px) {
    #introductionAbitltyBot_card{
        width: 100%;
    }
    #introductions{
        gap: 10px;
    }
 
}
