@font-face {
  font-family: samimFont;
  src: url(../font/Samim.ttf);
  font-style: normal;
}

@font-face {
  font-family: regular-font;
  src: url(../font/Regular.ttf);
  font-style: normal;
}

* {
  margin: 0;
  user-select: none;
  font-family: samimFont;
}

:root {
  --soldier-pink: #ec4899;
  --soldier-btn-pink: #e63d7e;
  --soldier-btn-pink-hover: #cc2f6b;
  --telegram-theme-color: #0088cc;
  --telegram-dark-theme-color: #0070a8;
  --bale-theme-color: #00bf8b;
  --bale-dark-theme-color: #009069;
}

body {
  background-color: #535353;
}
img {
  -webkit-user-drag: none;
}

header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 60px;
  width: -webkit-fill-available;

  z-index: 100;

  padding: 5px 15px;

  transition:
    background-color 0.5s ease,
    justify-content 0.5s ease;
}

.header-item {
  display: flex;
  align-items: center;

  transition:
    transform 0.5s ease,
    margin 0.5s ease;
}

header .header-item:first-child {
  position: absolute;
  right: calc(50% - 419px);
  transform: translateX(-50%);
  z-index: 2;
}

/* منوی سه خط */

header .header-item:last-child {
  position: absolute;
  left: calc(50% - 55px);

  transform: translateX(50%);

  z-index: 1;
}

header.scrolled {
  background-color: black;
  justify-content: space-between;
}

header.scrolled .header-item:first-child {
  right: 0;
  transform: translateX(0);
}

header.scrolled .header-item:last-child {
  left: 0;
  transform: translateX(0);
}

#titles {
  position: absolute;
  width: 100%;
  top: 450px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f0f0f0;
}

.titles-btn {
  border: none;
  border-radius: 15px;
  padding: 12px 33px;
  font-size: 0.9em;
}

#canvas {
  width: 100%;
  overflow: hidden;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.882);
  color: rgba(0, 0, 0, 0);
}

#startnow-btn {
  background-color: var(--soldier-btn-pink);
  color: #f0f0f0;
}

#aboutsoldier-btn {
  border: 2px solid #00000021;
  background-color: #f0f0f0;
  color: black;
}

#about-soldier {
  display: flex;
  margin: 30px;
  padding: 15px;
  border-radius: 10px;
  flex-direction: column;
  background: #eac291;
  box-shadow: 1px 5px 15px 0px #5d4e3c;
}

#ability-soldier {
  background-color: black;
  color: #fff;
  box-shadow: 1px 5px 15px 0px #000000bd;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

#logo-and-list-ability {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#list-ability li::marker {
  color: var(--soldier-pink);
}

#monthly-users {
  font-size: 3em;
  font-family: regular-font;
}
/* #versions{

} */

#versions-titles {
  background-color: #8b8b8b;
  color: #000000;
  box-shadow: 1px 5px 15px 0px #414141;
  padding: 20px;
  margin: 30px;
  border-radius: 10px;
}

#version-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#version-cards div {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  /* width: -webkit-fill-available; */
}

#bale-version {
  border: solid 3px var(--bale-dark-theme-color);
  background-color: var(--bale-theme-color);
}
#telegram-version {
  border: solid 3px var(--telegram-dark-theme-color);
  background-color: var(--telegram-theme-color);
}

.view-version-btn {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-version-btn button {
  padding: 10px;
  border-radius: 15px;
  color: black;
  border: 3px solid rgba(0, 0, 0, 0.173);
}
#telegram-version button {
  background-color: var(--telegram-dark-theme-color);
}
#bale-version button {
  background-color: var(--bale-dark-theme-color);
}
